<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Relation Hierarchy</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    html {
      font-size: 14px;
    }
    .wrong {
      color: orangered;
    }
    .correct {
      color: green;
    }
    .relation {
      cursor: pointer;
    }
    .predicted {
      font-style: italic;
    }
    .my-clo {
      max-height: 1000px;
      overflow: scroll;
    }
  </style>
</head>
<body ng-app="app" ng-controller="DemoCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm my-clo">
        <h3>Train Relation Hierarchy</h3>
        <div js-tree="treeConfig" ng-model="treeData" should-apply="ignoreModelChanges()" tree="treeInstance"  tree-events-obj="treeEventsObj"></div>
      </div>
      <div class="col-sm my-clo">
        <h3>Test Relations</h3>
        <span class="correct">Green</span> means correct. <span class="wrong">Red</span> means wrong. <span class="predicted">Italic</span> means predicted parent.
        <ol>
          <li ng-repeat="rel in testTreeData">
            <div>
              <span ng-click="loadHeadTail(rel.id)" class="relation" ng-class="{wrong: rel.parent != rel.pred_parent, correct: rel.parent == rel.pred_parent}">{{ rel.text }}</span>
            </div>
            <div>
              <span class="relation" ng-click="locateParent(rel.parent)">- {{ rel.parent_text }}</span>
            </div>
            <div ng-if="rel.parent != rel.pred_parent">
              <span class="relation predicted" ng-click="locateParent(rel.pred_parent)">- {{ rel.pred_parent_text }}</span>
            </div>
          </li>
        </ol>
      </div>
      <div class="col-sm my-clo">
        <h3>Head and Tail Entities</h3>
        <div id="head_tail">
          <ul>
            <li ng-repeat="ht in headTail">
              {{ ht[0] }} -> {{ ht[1] }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"></script>-->
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/jstree/dist/jstree.js"></script>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/underscore/underscore.js"></script>
  <script src="node_modules/ng-js-tree/dist/ngJsTree.js"></script>
  <script src="data/tree_data.js"></script>
  <script src="data/test_tree_data.js"></script>
  <script src="data/head_tail.js"></script>
  <script type="text/ng-template" id="RelHier">
    {{ category.title }}
    <ul ng-if="category.categories">
      <li ng-repeat="category in category.categories" ng-include="'RelHier'">
      </li>
    </ul>
  </script>
  <script>
    // angular controller
    var app = angular.module('app', ['ngJsTree']);
    app.controller('DemoCtrl', function ($scope) {
      $scope.treeConfig = {
        core : {
          multiple: false,
          animation: true,
          error: function(error) {
            $log.error('treeCtrl: error from js tree - ' + angular.toJson(error));
          },
          check_callback: true,
          worker: true
        },
        types: {
          default: {
            icon: 'glyphicon glyphicon-flash'
          },
          star: {
            icon: 'glyphicon glyphicon-star'
          },
          cloud: {
            icon: 'glyphicon glyphicon-cloud'
          }
        },
        version: 1,
        plugins: ['types','checkbox']
      };

      // sample data
      $scope.treeData = [
        {id: '1', parent: '#', text: 'Simple root node', state: {opened: false}},
        {id: '2', parent: '#', text: 'Root node 2', state: {opened: false, selected: true}},
        {id: '3', parent: '2', text: 'Child 1', state: {opened: false}},
        {id: '4', parent: '2', text: 'Child 2', state: {opened: false}}
      ];
      $scope.treeData = [];
      angular.copy(treeData, $scope.treeData);
      $scope.testTreeData = [];
      angular.copy(testTreeData, $scope.testTreeData);

      //$.getJSON("data/tree_data.json", function(json) {
      //  $scope.treeData = json;
      //});

      // sample data
      $scope.headTailDict = {
        "1": [['1', '2']],
        "2": [['2', '3'], ['4', '5']]
      };
      $scope.headTailDict = headTailDict;

      $scope.locateParent = function(real_parent) {
        $scope.treeData = [];
        angular.copy(treeData, $scope.treeData);
        var item = _.findWhere($scope.treeData, {'id': real_parent});
        if (item != undefined) item.state = {selected: true, opened: false};
        $scope.treeConfig.version++;
      };

      $scope.loadHeadTail = function(id) {
        $scope.headTail = $scope.headTailDict[id];
      };

      $scope.treeEventsObj = {
        'select_node': selectNodeCB
      };

      function selectNodeCB(node, selected, event) {
        $scope.loadHeadTail(selected.node.id);
        console.log(selected);
      };
    });
  </script>
</body>
</html>
